.Hero{
    z-index: 0;
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg,#2f4156,#567c8d );

    .avatarContainer{
        height:100%;
        position: absolute;
        top: 0;
        justify-content: right;
        align-items: center;
        width: 100%;
    }
    .wrapper{
        
        max-width: 1366px;
        height: 100%;
        // margin-left: 10%;

        .textContainer{
            // left: 30px;
            width: 100vw;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2{
                font-size: 30px;
                color: #f3d3bf;
                letter-spacing: 7px;
            }

            h1{
                font-size: 50px;
            }

            .buttons{
                display: flex;
                z-index: 10;
                gap: 10px;
                button{
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                font-weight: 300;
                cursor:  pointer;
                }
            }
            img{
                width: 50px;
            }
        }

    }

    .slidingText{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #c8d9e614;
        width: 100%;
        font-weight: bold;
    }
}