.about-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px;
    text-align: center;
    overflow: hidden;


    .slidingText{
        pointer-events: none;
        position: absolute;
        font-size: 50vh;
        bottom: -10px;
        white-space: nowrap;
        color: #c8d9e614;
        width: 100%;
        font-weight: bold;
    }

    .slidingText2{
        pointer-events: none;
        position: absolute;
        font-size: 50vh;
        top: -100px;
        white-space: nowrap;
        color: #c8d9e614;
        width: 100%;
        font-weight: bold;
    }


  }
  
  .content {
    position: absolute;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #00000033;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .social-links a {
    font-size: 1.2rem;
    color: #0077b5;
    text-decoration: none;
    transition: color 0.3s ease;
  
    &:hover {
      color: #0e76a8; /* LinkedIn's color */
    }
  }
  
  .social-links a:nth-child(1) {
    color: #8a3ab9; /* Instagram's color */
  }
  
  .social-links a:nth-child(2) {
    color: #333; /* GitHub's color */
  }
  
  