.Navbar{
    height: 100px;
    .wrapper{
        max-width: 1366px;
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        // background-color: rebeccapurple;
        height: 100%;
    }

    span{
        font-weight: bold;
    }

    .social{
        display: flex;
        gap:20px;
        img{
            width: 22px;
            height: 22px;

        }
    }

    Sidebar{
        position: relative;
        z-index: 100;
    }
 }