@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

@font-face {
  font-family:BrunoAce;
  src: url(/fonts/Bruno.woff);
}

*{
  font-family: BrunoAce;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #2a394c;
    color: lightgray;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;
        
    }
}

#cursor{
    transform: translate(-50%,-50%);
    position: fixed;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: rgba(64, 123, 157, 0.486);
    z-index: 9;
    pointer-events: none;
}

#Skills{
    h1{
        background: linear-gradient(180deg,#567c8d,#2a3b4e );
        color: beige;
        font-size: 50px;
        display: flex;
        position: relative;
        height: 15vh;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

#Projects{
    background: linear-gradient(180deg,#111132,#2a3b4e );
}